@media only screen and (max-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
    .welcome-section {
      background-image: url(images/birds.png);
      height: 85vh; 
      width: 100%;
    }
    .welcome-note {
      font-size: 30px;
      font-weight: 700;
      color: #fff;
      padding: 90px 0px 0px 15px;
      width: 95%;
      line-height: 45px;
    }
    .brief {
      color: #fff;
      padding: 10px 0px 0px 15px;
      font-size: larger;
    }
    .button {
      margin: 50px 0px 0px 20px;
      background-color: #77b122;
      height: 40px;
      border-radius: 5px;
      border: none;
      width: 110px;
      margin-top: 80px;
      color: #fff;
      transition: ease-out .4s;
    }
    .button:hover {
      background-color: #5d8a1a;
      transition: ease-in .4s;
    }
    .about-section {
    
    }
    .about-title {
      font-size: 20px;
      margin: 40px 0px 40px 5px;
      font-weight: 500;
      text-decoration: underline;
    }
    .about-head {
      margin-left: 5px;
      font-size: 25px;
      font-weight: 600;
    }
    .decor {
      margin: 5px 0px 0px 0px;
    }
    .about-text {
      margin-left: 5px;
    }
    .video-play {
      margin-top: 50px;
    }
    .vidimg {
      height: 300px;
      width: 300px;
      border-radius: 100%;
    }
    .what-we-do {
      margin: 50px 0px 0px 0px;
      background-color: #b4cfac3d;
    }
    .crates {
      width: 370px;
      margin-left: -30px;
      height: 350px;
    }
    .what-we-do-text {
    
    }
    .what-we-do-title {
      font-size: 18px;
      font-weight: 300;
      margin: 100px 0px 40px 5px;
    }
    .wwd-head {
      font-size: 25px;
      font-weight: 600;
      margin-left: 5px;
    }
    .wwd-text {
      line-height: 25px;
      margin: 15px 10px 10px 5px;
      font-weight: 100;
    }
    .our-produce {
      margin: 50px 0px 0px 0px;
    }
    .eggs {
      margin-left: 1px;
      margin-bottom: 30px;
    }
    .egglogo {
      margin-top: -5px;
    }
    .egghead {
      font-size: 20px;
      font-weight: 700;
      margin-left: 10px;
    }
    .eggtext {
      margin-top: 15px;
      line-height: 25px;
      font-weight: 100;
    }
    .featured-product {
      margin-top: 100px;
      text-align: center;
    }
    .fptitle {
      text-align: center;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-family: "Karla", sans-serif;
      color: #707070;
      line-height: 1.7;
      font-weight: 400;
    }
    .fphead {
      text-align: center;
      font-family: "Karla", sans-serif;
      color: #303030;
      line-height: 1.3;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 25px;
    }
    .img {
      text-align: center;
    }
    .fpimg {
      margin-bottom: 50px;
    }
    .product-list {
      
    }
    .card {
      width: 20rem;
      height: 24rem;
      background-color: #7070701a;
      margin-left: 23px;
      margin-right: auto;
      border: none;
    }
    .egg {
      width: 200px;
      height: 250px;
      margin-left: auto;
      margin-right: auto;
    }
    .icons {
      justify-content: center;
      margin-top: 40px;
    }
    .icon {
      padding-top: 12px;
      margin-right: 5px;
      background-color: #fff;
      box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.15);
      width: 40px;
      height: 40px;
      border-radius: 100%;
      transition: ease-out .5s;
    }
    .icon:hover {
      background-color: #77b122;
      transition: ease-in .5s;
    }
    .smallegg {
      width: 300px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
    }
    .product-name {
      font-weight: 300;
      margin-top: 5px;
      font-size: 16px;
      margin-bottom: 5px;
      font-weight: 400;
      color: #707070;
      font-family: "Karla", sans-serif;
    }
    .product-price {
      font-size: 18px;
      font-family: "Karla", sans-serif;
      color: #303030;
      line-height: 1.3;
      font-weight: 700;
      margin-bottom: 20px;
    }
          
    .list {
      text-align: center;
    }
    .store {
      text-align: center;
    }
    .btn {
      background-color: #77b122;
      margin-bottom: 20px;
      color: #fff;
      font-weight: 400;
      margin-left: auto;
      margin-right: auto;
    }
    .btn:hover {
      color: #fff;
      font-weight: 600;
      background-color: #5f8f18;
    }
    .contact-section {
      margin-top: 100px;
    }
    .contact-section-left {
      margin-left: 15px;
    }
    .contact-details {
      
    }
    .contact-title {
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-family: "Karla", sans-serif;
      color: #707070;
      line-height: 1.7;
      font-weight: 400;
    }
    .contact-head {
      font-family: "Karla", sans-serif;
      color: #303030;
      line-height: 1.3;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 35px;
    }
    .form-control {
      margin-bottom: 30px;
    }
    
    .contact-maps {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 480px;
      margin-top: 30px;
      margin-bottom: 50px;
      
    }
    .contact-maps iframe {
      width: 92vw;
      height: 100%;
      border: none !important;
      margin-left: -100px;
    }
    .footer-section {
      min-width: 100vw;
    }
    .footer-container {
      min-width: 100vw;
      background-image: url(images/3.jpg);
      height: 200vh;
    }
    .footer-widget {
      color: rgb(255, 255, 255);
      font-size: 16px;
      padding-top: 100px;
    }
    .brand-name {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .quick-link {
      margin-top: -20rem;
      margin-bottom: -10rem;
    }
    .contact-info {
      margin-left: 10px;
    }
    .contact-link {
      margin-left: 15px;
    }
    li {
      color: #fff;
    }
    .stay-connected {
      margin-top: -18rem;
    }
    .footer-widget-nav {
      text-decoration: none;
      color: #fff;
    }
    .footer-widget-nav:hover {
      text-decoration: none;
      color: #77b122;
    }
    .widget-title {
      margin-bottom: 20px;
    }
    
    .footer-social-info a i {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      text-align: center;
      color: #ffffff;
      border: 1px solid #77b122;
      line-height: 40px;
    }
    .footer-social-info a {
      display: block;
      margin-bottom: 20px;
    }
    .footer-social-info a span {
      color: #b7b7b7;
      font-size: 14px;
      display: inline-block;
      margin-left: 15px;
      font-weight: 400;
    }
    .footer-social-info a:focus i, .footer-social-info a:hover i {
      background-color: #77b122;
    }
    .footer-social-info a:focus span, .footer-social-info a:hover span {
      color: #ffffff;
    }
    .footer-holder {
      background-color: #000;
    }
    .footer-text {
      text-align: center;
      padding: 20px 0px 20px 0px;
      color: #fff;
      font-family: "Karla", sans-serif;
      font-size: 13px;
    }
    
}