body {
  scroll-behavior: smooth;
}
.strong {
  color: #77b122;
}
.welcome-section {
  background-image: url(images/birds.png);
  height: 100vh;
  background-size: cover;
}
.welcome-note {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  padding: 150px 0px 0px 60px;
  width: 700px;
  line-height: 60px;
}
.brief {
  color: #fff;
  padding: 20px 0px 0px 60px;
  font-size: larger;
}
.btn {
  margin: 50px 0px 0px 70px;
}
.about-section {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.about-title {
  font-size: 20px;
  margin: 50px;
  font-weight: 500;
  text-decoration: underline;
}
.about-head {
  margin-left: 50px;
  font-size: 35px;
  font-weight: 600;
}
.about-text {
  line-height: 25px;
  margin: 15px 10px 10px 20px;
  font-weight: 100;
}
.span {
  color: #77b122;
}
.decor {
  margin: 5px 0px 10px 30px;
}
.video-play {
  margin-top: 50px;
}
.vidimg {
  height: 400px;
  width: 400px;
  border-radius: 100%;
}
.video-play .play-icon {
  position: absolute;
    font-size: 40px;
    color: #77b122;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
}

.what-we-do {
  margin-top: 50px;
  background-color: #b4cfac3d;
  margin-bottom: 20px;
}
.crates {
  margin-left: -15px;
  width: 100%;
  height: 85vh;
}
.what-we-do-text {

}
.what-we-do-title {
  font-size: 18px;
  font-weight: 300;
  margin: 100px 0px 10px 30px;
}
.wwd-head {
  font-size: 35px;
  font-weight: 600;
  margin-left: 30px;
}
.wwd-text {
  line-height: 25px;
  margin: 15px 10px 10px 20px;
  font-weight: 100;
}
.our-produce {
  margin: 50px 0px 0px 20px;
}
.egglogo {
  margin-top: -10px;
}
.egghead {
  font-size: 23px;
  font-weight: 700;
  margin-left: 10px;
}
.eggtext {
  margin-top: 15px;
  line-height: 25px;
  font-weight: 100;
}
.birdlogo {
  margin-top: -10px;
}
.birdhead {
  font-size: 23px;
  font-weight: 700;
  margin-left: 10px;
}
.birdtext {
  margin-top: 15px;
  line-height: 25px;
  font-weight: 100;
}


@media only screen and (max-width: 768px) {

  .welcome-section {
    background-image: url(images/birds.png);
    height: 90vh; 
    width: 100%;
  }
  .welcome-note {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding: 100px 0px 0px 15px;
    width: 95%;
    line-height: 38px;
  }
  .brief {
    color: #fff;
    padding: 10px 0px 0px 15px;
    font-size: larger;
  }
  .btn {
    margin: 40px 0px 0px 15px;
  }
  .about-section {
  
  }
  .about-title {
    font-size: 20px;
    margin: 40px 0px 40px 5px;
    font-weight: 500;
    text-decoration: underline;
  }
  .about-head {
    margin-left: 5px;
    font-size: 25px;
    font-weight: 600;
  }
  .decor {
    margin: 5px 0px 0px 0px;
  }
  .about-text {
    margin-left: 5px;
  }
  .video-play {
    margin-top: 50px;
  }
  .vidimg {
    height: 300px;
    width: 300px;
    border-radius: 100%;
  }
  .what-we-do {
    margin: 50px 0px 0px 0px;
    background-color: #b4cfac3d;
  }
  .crates {
    width: 370px;
    margin-left: -30px;
  }
  .what-we-do-text {
  
  }
  .what-we-do-title {
    font-size: 18px;
    font-weight: 300;
    margin: 100px 0px 40px 5px;
  }
  .wwd-head {
    font-size: 25px;
    font-weight: 600;
    margin-left: 5px;
  }
  .wwd-text {
    line-height: 25px;
    margin: 15px 10px 10px 5px;
    font-weight: 100;
  }
  .our-produce {
    margin: 50px 0px 0px 0px;
  }
  .eggs {
    margin-left: 1px;
    margin-bottom: 30px;
  }
  .egglogo {
    margin-top: -5px;
  }
  .egghead {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
  }
  .eggtext {
    margin-top: 15px;
    line-height: 25px;
    font-weight: 100;
  }
}