body {
  scroll-behavior: smooth;
}
.strong {
  color: #77b122;
}
.welcome-section {
  background-image: url(images/birds.png);
  height: 100vh;
  background-size: cover;
}
.welcome-note {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  padding: 150px 0px 0px 60px;
  width: 700px;
}
.brief {
  color: #fff;
  padding: 20px 0px 0px 60px;
  font-size: larger;
}
.btn {
  margin: 50px 0px 0px 150px;
}
.about-section {
  margin-top: 50px;
}
.about-title {
  font-size: 20px;
  margin: 50px;
  font-weight: 500;
  text-decoration: underline;
}
.about-head {
  margin-left: 50px;
  font-size: 35px;
  font-weight: 600;
}
.span {
  color: #77b122;
}
.decor {
  margin: 5px 0px 10px 50px;
}
.video-play {
  margin-top: 50px;
}
.vidimg {
  height: 400px;
  width: 400px;
  border-radius: 100%;
}
.video-play .play-icon {
  position: absolute;
    font-size: 40px;
    color: #77b122;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 99;
}


@media only screen and (max-width: 768px) {

  .welcome-section {
    background-image: url(images/birds.png);
    height: 90vh; 
    width: 100%;
  }
  .welcome-note {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding: 100px 0px 0px 15px;
    width: 95%;
  }
  .brief {
    color: #fff;
    padding: 10px 0px 0px 15px;
    font-size: larger;
  }
  .btn {
    margin: 40px 0px 0px 20px;
  }
  .about-section {
  
  }
  .about-title {
    font-size: 20px;
    margin: 40px;
    font-weight: 500;
    text-decoration: underline;
  }
  .about-head {
    margin-left: 20px;
    font-size: 25px;
    font-weight: 600;
  }
  .decor {
    margin: 5px 0px 0px 20px;
  }
  .video-play {
    margin-top: 50px;
  }
  .vidimg {
    height: 300px;
    width: 300px;
    border-radius: 100%;
  }
}